{{#if this.showLink}}
  <li class="list-group-item clearfix h-entry">
    {{#if this.editing}}
      <LinkForm
        @link={{@link}}
        @onSave={{this.finishEditing}}
        @onCancel={{this.finishEditing}}
      />
    {{else}}
      <LinkDetail
        @link={{@link}}
        @onEdit={{this.edit}}
      />
    {{/if}}
  </li>
{{/if}}
