<BsForm
  @formLayout="vertical"
  @model={{this.buffer}}
  @onSubmit={{fn this.handleSave}} as |Form|
>
  <div class="form-group">
    <label>URL</label>
    <p class="form-control-static overflow-hidden">
      <a href={{ this.link.url }} target="_blank" rel="noopener noreferrer">
        {{ this.link.url }}
      </a>
    </p>
  </div>
  <Form.element
    @controlType="text"
    @label="Title"
    @property="title"
    data-test-title
  />
  <Form.element
    @controlType="text"
    @label="Source"
    @property="source"
    data-test-source
    as |el|
  >
    <el.control
      autocapitalize="off"
      autocorrect="off"
    />
  </Form.element>
  <Form.element
    @controlType="text"
    @label="Tags"
    @property="tag_list"
    data-test-tags
    as |el|
  >
    <el.control
      autocapitalize="off"
      autocorrect="off"
    />
  </Form.element>
  <Form.element
    @controlType="checkbox"
    @label="Public"
    @property="public"
    data-test-public
  />
  <Form.element
    @controlType="textarea"
    @label="Comment"
    @property="comment"
    data-test-comment
  />
  <div class="float-right">
    <BsButton
      @buttonType="submit"
      @type="primary"
      data-test-save-button
    >
      Save
    </BsButton>
    <BsButton
      type="button"
      @type="light"
      @onClick={{fn this.handleCancel}}
      data-test-cancel-button
    >
      Cancel
    </BsButton>
  </div>
</BsForm>
